.table-container {
  border-radius: 12px;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.generic-table {
  /* border: 1px solid #ddd; */
}

.table-head th {
  background-color: #f4f6f8;
  font-weight: bold;
}

.table-body td:hover {
  /* cursor: pointer; */
}
