.table-container {
  border-radius: 12px;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.generic-table {
  /* border: 1px solid #ddd; */
}

.table-head th {
  background-color: #f0f9fc;
  font-weight: bold;
}

.table-body {
}

.MuiTablePagination-root {
  background-color: #f9fafb;
}
